.btn.btn-warning.border-0{
    color: white;
    background-color: coral;
}
.btn.btn-warning.border-0:hover {
    color: white;
    background-color: Lightcoral;
}
.btn.btn-primary.btn-lg.btn-block.border-0 {
    color: white;
    background-color: coral;
}
.btn.btn-primary.btn-lg.btn-block.border-0:hover {
    color: white;
    background-color: Lightcoral;
}