.text-style, .header_heading, .section_banner .section_banner_text_wrap .section_banner_heading {
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif; }

.header {
  background-image: url(../img/m-h-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 38%;
  background-position: top 50% left 0; }

.header_heading {
  display: inline-block;
  color: white;
  font-size: 4rem;
  margin-bottom: -1px; }

.header-wrap {
  height: 450px;
  max-width: 1600px;
  margin: 0 0 0 150px;
  padding: 20px 0 170px 0; }
  .header-wrap .landing-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-wrap .landing-logo p {
      color: white;
      margin: 3px 0 0 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      font-family: "Fresca", sans-serif;
      font-weight: bold;
      font-size: 1.5rem; }
    .header-wrap .landing-logo span {
      margin-top: 5px;
      font-size: 0.70rem;
      font-weight: normal;
      -ms-flex-item-align: center;
          align-self: center; }
    .header-wrap .landing-logo img {
      width: 45px;
      height: 45px; }
  .header-wrap .header_heading {
    padding: 70px 0 60px 0;
    color: white;
    width: 430px;
    word-wrap: break-word;
    margin-top: -60px; }
  .header-wrap .header_text {
    font-family: "Fresca", sans-serif;
    width: 550px;
    line-height: 1.7;
    color: white;
    margin-bottom: 55px;
    word-wrap: break-word; }
  .header-wrap .header_button {
    border: none;
    background-color: #e3ac00;
    color: white;
    border-radius: 2.5px;
    padding: 12px 45px;
    font-family: 1.1rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif; }
  .header-wrap .login {
    font-size: 1.2rem;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 150px; }

body {
  background-color: #21232e; }

.section {
  padding-top: 50px;
  margin-bottom: -45px; }
  .section .section_text {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    color: white;
    position: relative; }

.section_card_wrap {
  max-width: 1120px;
  margin: 0 auto; }

.section_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3b3f50;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px; }
  .section_card img {
    border-radius: 6px;
    height: 290px;
    width: auto; }
  .section_card .section_card_right_container {
    max-width: 470px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px; }
  .section_card .section_card_heading {
    color: white;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: 1.5rem; }
  .section_card .section_card_text {
    color: #c0c3ce;
    font-family: "Fresca", sans-serif;
    line-height: 1.5;
    margin-top: 20px; }
  .section_card .section_link {
    font-size: 1rem;
    color: #c0c3ce;
    font-family: 'Source Sans Pro', sans-serif; }

.section_banner {
  max-width: 1200px;
  margin: 120px auto 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#db9f08), to(#932d52));
  background-image: linear-gradient(to right, #db9f08, #932d52);
  border-radius: 5px;
  height: 120px; }
  .section_banner .section_banner_button {
    float: right;
    margin-top: 45px;
    margin-right: 160px;
    border: none;
    background-color: #e3ac00;
    color: white;
    border-radius: 2.5px;
    padding: 12px 45px;
    font-family: 1.1rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif; }
  .section_banner .section_banner_text_wrap {
    display: inline-block;
    margin: 30px 0 45px 160px; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      color: white;
      font-size: 1.8rem;
      margin-bottom: 15px;
      margin-top: -10px; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      color: #c0c3ce;
      font-family: "Fresca", sans-serif;
      margin-top: -5px; }

.footer {
  position: absolute;
  width: 100%;
  z-index: -1;
  margin-top: -10px;
  background-color: #3b3f50; }

.footer-wrap {
  max-width: 1540px;
  margin: 130px auto 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-wrap .landing-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-wrap .landing-logo p {
      color: #c0c3ce;
      margin: 3px 0 0 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      font-family: "Fresca", sans-serif;
      font-weight: bold;
      font-size: 1.5rem; }
    .footer-wrap .landing-logo span {
      margin-top: 5px;
      font-size: 0.70rem;
      font-weight: normal;
      -ms-flex-item-align: center;
          align-self: center; }
    .footer-wrap .landing-logo img {
      width: 45px;
      height: 45px; }
  .footer-wrap .footer_text {
    max-width: 290px;
    line-height: 1.2;
    color: #c0c3ce;
    font-family: "Fresca", sans-serif;
    font-size: 0.9rem; }
  .footer-wrap .footer-cr {
    color: #c0c3ce;
    font-family: "Fresca", sans-serif;
    font-size: 1rem; }

.header_heading:after {
  background-color: #e43538;
  z-index: 1;
  content: "awesome";
  position: absolute;
  left: 158px; }

.section_text:after {
  background-color: #e43538;
  z-index: 1;
  content: "adventure";
  position: absolute;
  right: 747px; }

.section_banner_heading:before {
  background-color: #e43538;
  z-index: 1;
  content: "start";
  position: absolute;
  left: 627px; }
