* {
    box-sizing: border-box; 
  }
  #img1{
    width: 750px;
    height: 500px;
  }
  #img2 {
    width:500px;
    height:300px;
  }
  #img3 {
    width:500px; 
    height:300px;
  }
  #img4 {
    height:300px;
  }
  .orange_block {
    content: '';
    background-color: #f8cb8a;
    width: 60px;
    height: 10px;
    position: relative;
    left: 390px;
}
.orange_block1::after {
    content: ' .....///////////////////';
    background-color: #f8cb8a;
    color: #f8cb8a;
    font-size: 0.6rem;
    z-index: 2;
}
.orange_block2 {
    content: '';
    background-color: #f8cb8a;
    width: 60px;
    height: 10px;
    position: relative;
    left: 790px;
}
  header, footer {
      flex: 0 0 0.5em;
  }
.white-text {
    color: #ffffff;
}
.black-text {
    color:#111111;
}
.purple-text {
    color:  #0b013c;
}
h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}
.text-style{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-size: 15px;
    font-style: italic;
    color: #111111;
}
.header-button {
    background-color: #0b013c;
    color: white;
    border: 1.5px solid white;
    height: 40px;
    width: 170px;
    font-size: 1.5rem;
    margin-top: 40px;
}
.header {
    background-color: #0b013c;
    width: 100%;
    height: 100vh;
}
.header-div {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    z-index: -1;
}
.header-big-text {
    font-size: 5rem;
    margin-top: 100px;
    height:100px;
    margin: 200px 0 0 -170px;
    position: relative;
}
.header-mediun-text {
    width: 200px;
    height: 50px;
    position: absolute;
    margin-top: 300px;
}
.header-main-text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-style: italic;
    color: white;
    position: relative;
    height: 50px;
    margin: 345px 0 0 -265px ;
}
.form {
    position: relative;
    margin: 410px 0 0 -380px;
}
.email {
    height: 40px;
    width: 230px;
}
.submit {
    height: 40px;
    width:100px;
    border: none;
    background-color: #f8cb8a;
}
.submit:hover {
    background-color: #f6bb66;
}
main {
    background-color: #fefaf3;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.first_section {
    height: 400px;
    align-content: center;
    width: 800px;
}
.first_section h2{
    text-align: center;
    font-size: 2.3em;
    margin-top: -10px;
}
.first_section h4 {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2rem;
}
.section1-main-text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-style: italic;
    color: #808080;
}
.second_section {
    height: 500px;
    width: 1140px;
    display: inline-flex;
}
.second_section div {
   width: 390px;
   background-color: white;
   display: inline-block;
   padding:0 10px 0 10px;
}
.second_section h2 {
    font-size: 2.3em;
    padding-left: 10px;
}
.second_section h4 {
    font-size: 1.2rem;
    margin: 35px 0 0 10px;
}
.section1_main-text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-style: italic;
    color: #808080;
    padding:  10px;
}
.trird_section {
    height: 550px;
    width: 1140px;
    display: inline-flex;
}
.trird_section_1{
    width: 500px;
    display: inline-block;
    margin: 100px 140px 50px 0;
    background-color: white;
}
.trird_section_2 {
    width: 500px;
    margin: 100px 0 50px 0;
    display: inline-block;
    background-color: white;
}
.section3_main-text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-style: italic;
    color: #111111;
    padding: 0 10px 0 10px;
}
.pre-footer {
    background-color: #0b013c;
    background-image: url(../img/space-bg.png);
    margin: 0;
    height: 500px;
}
.pre-footer_main-text {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    font-style: italic;
    color: white;
    width: 800px;
    text-align: center;
    margin-left: 25%;
}
.pre-footer h2{
    text-align: center;
    font-size: 2.1em;
    margin-top: -15px;
}
.pre-footer h4 {
    text-align: center;
    padding: 100px 0 10px 0;
    margin-top: 0;
}
footer {
    background-image: url(../img/footer-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 500px;
}
.footer {
    width: 1140px;
    margin: 0 auto;
}
.footer-img {
    padding-left:  700px;
    margin-top: -180px;
}
h3 {
    position: relative;
    text-align: left;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 200px;
    width: 300px;
    font-size: 1.3rem;
}
span {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 15px;
    color: #808080;
    text-align: right;
    width: 200px;
}
.span {
    color: #808080;
    text-decoration: none;
    margin-top: 70px;
}
