.tm-bg-color-primary {
    background-color: #76cdd8;
}
.tm-text-color-primary {
    color: #76cdd8;
}
.tm-col-md-reverse {
    flex-direction: row-reverse;
}
.btn {
    background-color: #008B8B;
    border-color: #008B8B;
}
.tm-card {
    position: relative;
}
.tm-card:nth-child(odd):hover::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent rgb(118, 205, 216) transparent transparent;
}
.tm-card:nth-child(even):hover::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: rgb(118, 205, 216) transparent transparent transparent;
}
section:first-child:hover,
section:nth-child(2):hover{
    color: #76cdd8;
}
.btn-primary:hover{
    background-color:rgb(118, 205, 216);
    border-color:rgb(118, 205, 216);
} 
.img-fluid:hover {
    transform: scale(1.1);
    z-index: 1;
    position: relative;
}
.tm-pricing-header {
    background-color:  #008B8B;
}
.tm-pricing-table {
    border-color: #008B8B;
}
.tm-pricing-table:hover{
    box-shadow:0 0 0 0.2rem #24d4d4; 
}
.tm-pricing-table a {
    background-color:#008B8B;
    border-color: #008B8B;
}
.tm-pricing-table:hover a {
    background-color: #24d4d4;
    border-color: #008B8B;
}
.tm-pricing-table:hover .tm-pricing-discount {
    display: block;
}
.tm-pricing-discount__star {
    color: red;
}
.tm-pricing-discount__text {
    color:  #24d4d4;
}
.tm-form-header {
    background-color: #24d4d4;
}
.tm-form-footer {
    background-color: #008B8B;
}
.tm-contact-form{
    z-index: 1;
    margin: -3rem auto;
}
.form-control:focus{
    border-color: #24d4d4; 
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
select:focus {
    border-color: #24d4d4; 
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
input:focus {
    border-color: #24d4d4; 
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
textarea:focus {
    border-color: #24d4d4; 
    box-shadow: 0 0 0 0.2rem #24d4d4;
}
.tm-mb-30 {
    margin-bottom: 30px;
}