
* {
  box-sizing: border-box;
  max-width: 100%;
}
.button {
  height: 40px;
  width: 120px;
  background-color: white;
  display: flex;
  font-size: 0.8rem;
  padding-top: 10px;
  padding-left: 10px;
}
.button:hover {
  border:none;
  text-decoration: underline solid #484848;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: white;
  font-family: 'Roboto', sans-serif ;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.post-1 {
  background: #F3D250;
}
.post-2 {
  background: #8D8741;
}
.post-3 {
  background: #659DBD;
}
.post-4 {
  background: #DAAD86;
}
.image-1{
  background-image: url(../img/post1.jpg);
  background-size: cover;
  background-position: center;
}
.image-2{
  background-image: url(../img/post2.jpg);
  background-size: cover;
  background-position: center;
}
.image-3{
  background-image: url(../img/post3.jpg);
  background-size: cover;
  background-position: center;
}
.image-4{
  background-image: url(../img/post4.jpg);
  background-size: cover;
  background-position: center;
}
.l-image-1{
  background-image: url(../img/news1.jpg);
  background-size: cover;
  background-position: center;
}
.l-image-2{
  background-image: url(../img/news2.jpg);
  background-size: cover;
  background-position: center;
}
  header {
    min-width: 1280px;  
    margin: 0 auto;
  }
  .menu {
    display: none;
    width: 40px;
    margin: 0 auto;
    margin-top: 15px;
  }
  .menu span {
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 3px;
  }
  .navigation {
    display: flex;
    background-color:#99ccff;
    height:100px;
    align-items: center;
    justify-content: space-between;
    padding:0 30px 0 10px;
    overflow: hidden;
  }
  .navigation nav {
    height: 100%;
    display: flex;
  }
  .navigation nav a {
    display: flex;
    align-items: center;
    color:white;
    text-decoration: none;
    font-size:1rem;
    margin-right: 50px;
  }
  .navigation nav a:hover {
    background-color: #162b4d;
    opacity: 0.5;
  }
  .navigation h1 {
    font-weight: 100;
    font-size: 2rem;
    color: white;
  }
.navigation h1 span {
  color: #162b4d;
}
.header-heading {
  margin-top: 20px;
  height: 500px;
  background-image: url(../img/section1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 0 0 30px 20px;
  color: white;
}
.header-heading h1 {
  margin: 10px 0 0 0;
  font-size: 2.2rem;
  font-weight: 100;
}
.header-heading p {
  font-size: 1rem;
  max-width: 900px;
  line-height: 1.7;
  color: white;
  padding-bottom: 50px;
}
main {
  min-width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}
.main-content {
  max-width: 1000px;
  margin-right: 20px;
  margin-left: 7%;
}
.post-link {
  display: block;
  text-decoration: none;
}
.post:hover {
  opacity: 0.5;
}
.aside {
  flex:1;
  width: 500px;
  bottom: 20px;
}
.main-content .post {
  display: flex;
}
.post .part_1 {
  flex-basis: 500px;
}
.post .part_2 {
  position: relative;
}
.post-link:nth-child(odd):not(:last-child) .date{
  text-align: center;
  position: absolute;
  top: 20px;
  right: 10px;
  color: #484848;
  opacity: 0.5;
  font-weight: 100;
}
.post-link:nth-child(even):not(:last-child) .date{
  text-align: center;
  position: absolute;
  top: 20px;
  right: 420px;
  color: #484848;
  opacity: 0.5;
  font-weight: 100;
}
.post-link:last-child .date {
  text-align: center;
  color: #484848;
  opacity: 0.5;
  font-weight: 100;
  width: 60px;
  height: 80px;
  position: absolute;
  bottom: 380px;
  right: 400px;
}
.date span{
  display: block;
  font-size: 1.8rem;
}
.date .number{
  font-size: 3.4rem;
  margin-bottom: 15px;
}
.main-content .post-link:nth-child(2n+1) .part_2 {
  flex: 1;
  padding: 40px 70px 40px 35px;
}
.main-content .post-link:nth-child(2n+2) .part_2 {
  order: -1;
  text-align: right;
  flex: 1;
  padding: 40px 35px 40px 80px;
}
.main-content .post .part_2 h1 {
  color: #484848;
  font-size: 3.4rem;
  font-weight: 100;
  margin-bottom: 20px;
}
.main-content .post .part_2 p {
  font-size: 1rem;
  line-height: 2;
  color: #484848;
  font-weight: 400;
}
.aside .post {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
}
.aside .image-block {
  flex-basis: 250px;
  width: 450px;
  height: 250px;
}
.aside-container {
  border: 2px solid #484848;
  width: 450px;
  margin-bottom: 20px;
}
.aside .post:not(:last-child) {
  margin-top: 25px;
}
.aside-content h1{
  font-size:1.8rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.aside-content p {
  color: #484848;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}
.aside .aside-content {
  padding: 30px 30px 40px 40px;
  width: 400px;
}
footer {
  background-color: #162b4d;
}
.footer-content {
  align-items: center;
}
.footer-content div {
  width: 400px;
  position: relative;
  left: 5%;
  top: 40px;
}
footer p{
  color: white;
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
}
footer .by_name {
  width: 150px;
  position: relative;
  color: white;
  left: 90%;
  bottom: 50px;
}


@media (min-width:769px) and (max-width:1280px) {
  body{
    padding:10px;
    padding-top: 0;
  }
  .navigation{
    display:block;
    height: 160px;
  }
  .menu{
    display: block;
    object-position: center;
  }
  .navigation nav{
    display: none;
  }
  .navigation h1{
    text-align:center;
    padding:30px 0;
  }
  .header-heading p {
    max-width: 600px;
  }
  .main-content .post{
    flex-flow:column nowrap;
    max-width: 700px;
  }
  .main-content .post-link:nth-child(even) .part_2{
    order:0;
    text-align: left;
    padding:20px 35px 20px 18px;
  }
  .post-link:nth-child(even) .date{
    right:5px;
    left:auto;
  }
  .post .part_1{
    flex-basis: 360px;
  }
  .post-link:last-child .part_2{
    display: block;
  }
  .post-link:last-child .date{
    margin-bottom: 20px;
 }
  footer{
    display:block;
    text-align:center;
    margin-bottom: 10px;
  }
  .footer-info {
    margin: 0;
  }
  .footer-content div {
    display: block;
    top: 20px;
    height: auto;
  }
   footer .by_name{
    width:auto;
    text-align:center;
  }
}
@media (max-width:768px){
  body{
    padding:10px;
    padding-top: 0;
  }
  .post-link:last-child .part_2{
    display: block;
  }
  .navigation{
    display:block;
    height: auto;
  }
  .menu{
    display: block;
  }
  .navigation nav{
    display: none;
  }
  .navigation h1{
    text-align:center;
    padding:30px 0;
  }
  .header-heading p {
    max-width: 400px;
  }
    .post .part_1{
    flex-basis:360px;
  }
  .aside .image-block{
    flex-basis:320px;
  }
  main{
    flex-flow:column nowrap;
  }
  .main-content {
    margin:0;
    max-width: 450px;
  }
  .main-content .post{
    flex-flow:column nowrap;
  }
  .main-content .post-link:nth-child(even) .part_2{
    order:0;
    text-align: left;
    padding:20px 35px 20px 18px;
  }
  .aside .post{
    width:auto
  }
  .post-link:nth-child(even) .date{
    right:5px;
    left:auto;
  }
    .post-link:last-child .date{
    margin-bottom: 20px;
 }
  footer{
    display:block;
    text-align:center;
    margin-bottom: 10px;
  }
  .footer-info {
    margin: 0;
  }
   footer .by_name{
    text-align:center;
    width:auto;
  }
}