*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(166, 72, 253);
}
.container {
    width: 800px;
    max-width: 80%;
    height: 400px;
    padding: 10px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    background-color: rgb(94, 1, 180);
    border-radius: 5px;
    border: 2px solid rgb(94, 1, 180);
    color: white;
    padding: 10px 20px;
}
.btn:hover {
    border-color: cornsilk;
}
.start-btn .skip-btn {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 5px 5px;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide {
    display: none;
}
.score {
    color: darksalmon;
    font-weight: bold;
}
