$text-transform: (
    weight: bold
);
.text-style{
	font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
.header {
    background-image: $header-img;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 38%;
    background-position: top 50% left 0;
}
@mixin button-style{
    border: none;
    background-color: $btn-color;
    color: white;
    border-radius: 2.5px;
    padding: 12px 45px;
    font-family: 1.1rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
@mixin logo($color){
    display: flex;
    p {
        color: $color;
        margin: 3px 0 0 15px;
        display: flex;
        flex-direction:column;
		justify-content:flex-start;
		font-family: $hind;
		font-weight: bold;
		font-size:1.5rem;
    }
    span {
        margin-top: 5px;
		font-size: 0.70rem;
		font-weight: normal;
		align-self: center;
    }
    img {
		width: 45px;
		height: 45px;
    }
}
@mixin link($size, $color) {
    font-size: $size;
    color: $color;
    font-family: 'Source Sans Pro', sans-serif;
}
.header_heading {
    display:inline-block;
    @extend .text-style;
    color:$black-text-color;
    font-size: 4rem;
    margin-bottom: -1px;
    }
.header-wrap {
    height: 450px;
    max-width: 1600px;
    margin: 0 0 0 150px;
    padding: 20px 0 170px 0;
    .landing-logo {
        @include logo($black-text-color);
    }
    .header_heading {
    padding: 70px 0 60px 0;
    color:$black-text-color;
    width: 430px;
    word-wrap: break-word;
    margin-top: -60px;
    
    }
    .header_text {
        font-family: $hind;
        width:550px;
        line-height: 1.7;
        color: $black-text-color;
        margin-bottom: 55px;
        word-wrap: break-word;
    }
    .header_button {
        @include button-style;
    }
    .login {
        @include link(1.2rem, white);
        margin-left: 150px;
    }
}  
body {
    background-color: $main-background-color;
}
.section {
    padding-top: 50px;
    margin-bottom: -45px;
    .section_text {
		text-align:center;
		font-size:2.5rem;
		font-family: 'Hind', sans-serif;
		font-weight: map-get($text-transform, weight);
        color:$black-text-color;
        position: relative;
    }
}
.section_card_wrap{
    max-width: 1120px;
    margin: 0 auto;
}
.section_card {
    display: flex;
    background-color: $box-background-color;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    img {
        border-radius: 6px;
        height: 290px;
        width: auto;
    }
    .section_card_right_container {
        max-width: 470px;
		margin:0 auto;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding-top: 25px;
    }
    .section_card_heading{
		color:white;
		font-family: 'Hind', sans-serif;
		font-weight: bold;
		font-size:1.5rem;
    }
    .section_card_text {
        color: $gray-text;
        font-family: $hind;
        line-height: 1.5;
        margin-top: 20px;
    }
    .section_link {
        @include link(1rem, $gray-text)
    }
}
.section_banner{
	max-width:1200px;
	margin:120px auto 0 auto;
	background-image: linear-gradient(to right, $grad-start , $grad-end);
	border-radius:5px;
	height: 120px;
	.section_banner_button{
		float:right;
		margin-top: 45px;
        margin-right: 160px;
		@include button-style;
	}
	.section_banner_text_wrap{
		display: inline-block;
		margin:30px 0 45px 160px;
		.section_banner_heading{
			color:$black-text-color;
			@extend .text-style;
			font-size:1.8rem; 
            margin-bottom: 15px;
            margin-top: -10px;
            
		}
		.section_banner_text{
			color:$gray-text;
            font-family: $hind;
            margin-top: - 5px;
		}
	}
}
.footer{
	position: absolute;
	width:100%;
	z-index: -1;
	margin-top: -10px;
	background-color: $box-background-color;
}
.footer-wrap{
	max-width: 1540px;
	margin: 130px auto 90px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.landing-logo{
		@include logo($gray-text);
	}	
	.footer_text{
		max-width: 290px;
		line-height: 1.2;
		color:$gray-text;
		font-family: $hind;
		font-size:0.9rem;
	}
	.footer-cr{
		color:$gray-text;
		font-family: $hind;
		font-size:1rem;
    }
}
.header_heading:after {
    background-color: $highlited-words;
    z-index: 1;
    content: "awesome";
    position: absolute;
    left: 158px;
}
.section_text:after {
    background-color: $highlited-words;
    z-index: 1;
    content:"adventure";
    position: absolute;
    right: 747px;
}
.section_banner_heading:before{
    background-color: $highlited-words;
    z-index: 1;
    content: "start";
    position: absolute;
    left: 627px;
}