$main-background-color: white;
$gray-text: #c0c3ce;
$black-text-color: #292b35;
$box-background-color: #21232e;
$grad-start: #6b9a05;
$grad-end: #1b48c3;
$header-img: url(../img/m-h-day.jpg);
$highlited-words: #1fa5d4;
$btn-color: #6b9a05;
$hind: 'Hind', sans-serif;