$main-background-color: #21232e;
$gray-text: #c0c3ce;
$black-text-color:white;
$box-background-color: #3b3f50;
$grad-start:#db9f08;
$grad-end: #932d52;
$header-img:url(../img/m-h-night.jpg);
$highlited-words: #e43538;
$btn-color: #e3ac00;
$hind: 'Fresca', sans-serif;